@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script type="text/javascript"></script>

<h1>Index</h1>
<h1> @localizer["Welcome"] </h1>
@*<partial name="_Localization" />*@

